# Žodynas

Žodynas yra viena iš pagrindinių duomenų struktūrų „Python“ kalboje, kuri leidžia jums saugoti raktų ir reikšmių porų kolekcijas.

- Žodyne kiekvienas raktas yra susietas su reikšme, ir šią reikšmę galite pasiekti naudodami raktą.
- „Python“ kalboje žodynai yra nepaprastai naudingi įvairioms užduotims, tokiose kaip informacijos saugojimas, duomenų organizavimas ir greitas reikšmių gavimas, susietų su konkrečiais raktais.

## Žodynų kūrimas

- Žodynai „Python“ kalboje gali būti sukurti naudojant laužtinius skliaustus `{}`.
- Kiekvieną raktą ir reikšmę atskiria dvitaškiai, o daugiau raktų ir reikšmių porų skiria kableliai. 

**Pavyzdys**:

In [17]:
zodynas = {'raktas1': 'reiksme1', 'raktas2': 'reiksme2'}
print(zodynas)  # {'raktas1': 'reiksme1', 'raktas2': 'reiksme2'}

{'raktas1': 'reiksme1', 'raktas2': 'reiksme2'}

In [18]:
sventes = {'Kaledos': 'Gruodžio 25-26', 'Nauji Metai': 'Sausio 1', 'Vėlykos': 'Pavasary'}
print(sventes)

{'Kaledos': 'Gruodžio 25-26', 'Nauji Metai': 'Sausio 1', 'Vėlykos': 'Pavasary'}

### `Greita užduotis 1: žodyno kūrimas`

**Instrukcijos:**

1. Sukurkite žodyną su bent trimis augintinių vardais ir jų amžiais.
1. Atspausdinkite visą žodyną.

**Patarimas**
- Naudokite bet kokį savo pasirinkto pavadinimo kintamąjį.

MANO

In [3]:
# jusu kodo vieta
sunys = {"dogas": "Barnis yra 4 metu", "kolis": "Lisa yra 10 metu", "taksas": "Zaibas jau 6 metu"}
print(sunys)

{'dogas': 'Barnis yra 4 metu', 'kolis': 'Lisa yra 10 metu', 'taksas': 'Zaibas jau 6 metu'}

---

## Prieiga prie konkretaus žodyno įrašo

- Norėdami pasiekti konkretų įrašą žodyne, tiesiog turite nurodyti raktą laužtiniuose `[]` skliaustuose:

In [5]:
zmones = {'Jonas': 24, 'Petras': 32}
print(zmones['Petras']) # Petras yra raktas [""], atspausdins - 32 
print(zmones['Jonas']) # 24

petras = zmones['Petras']
print("Petras turi:", petras)

32
24
Petras turi: 32

In [21]:
print(sventes['Kaledos'])

Gruodžio 25-26

MANO

In [14]:
sunys = {"dogas": "Barnis yra 4 metu", "kolis": "Lisa yra 10 metu", "taksas": "Zaibas jau 6 metu"}
print(sunys["taksas"])
print(sunys["dogas"])

Zaibas jau 6 metu
Barnis yra 4 metu

# `Greita užduotis 2: Konkretaus žodyno įrašo pasiekimas`

**Instrukcijos:**

1. Atspausdinkite bet kurio gyvūno amžių iš žodyno, sukurto `Greitosios užduoties 1` metu.

In [22]:
# jusu kodo vieta

---

## Įtraukti įrašą į žodyną
- Į žodyną galite įtraukti įrašą naudodami paprastą priskyrimo operatorių `=`, 
- nurodydami raktą laužtiniuose skliaustuose `[]` po žodyno kintamojo pavadinimo. 

**Pavyzdys:**

In [6]:
zmones = {'Jonas': 24, 'Petras': 32}
zmones['Ona'] = 28
zmones["Pravarde"] = "Ponas"
print(zmones)  # {'Jonas': 24, 'Petras': 32, 'Ona': 28}

{'Jonas': 24, 'Petras': 32, 'Ona': 28, 'Pravarde': 'Ponas'}

In [24]:
sventes['Joninės'] = 'Birželio 24'
print(sventes)

{'Kaledos': 'Gruodžio 25-26', 'Nauji Metai': 'Sausio 1', 'Vėlykos': 'Pavasary', 'Joninės': 'Birželio 24'}

### `Greita užduotis 3: Įrašo pridėjimas prie žodyno`

**Instrukcijos:**

1. Pridėkite naują gyvūną prie žodyno, sukūrto `Greitosios užduoties 1` metu.
1. Atspausdinkite atnaujintą žodyną.

Giedrius - dadeda nauja zodina

In [16]:
# jusu kodo vieta
sunys = {"dogas": "Barnis yra 4 metu", "kolis": "Lisa yra 10 metu", "taksas": "Zaibas jau 6 metu"}
sunys["buldogas"] = "Tedis jau senas ir 33 metu"
print(sunys)

{'dogas': 'Barnis yra 4 metu', 'kolis': 'Lisa yra 10 metu', 'taksas': 'Zaibas jau 6 metu', 'buldogas': 'Tedis jau senas ir 33 metu'}

---

## Konkretaus žodyno įrašo keitimas

- Norint pakeisti konkretaus žodyno įrašą, reikia nurodyti esamą raktą laužtiniuose skliaustuose `[]` po žodyno kintamojo pavadinimo ir priskirti jam naują reikšmę:

In [7]:
people = {'Jonas': 24, 'Petras': 32, 'Ona': 28}
people['Petras'] = 33
print(people)  # {'Jonas': 24, 'Petras': 33, 'Ona': 28}

{'Jonas': 24, 'Petras': 33, 'Ona': 28}

In [8]:
people['Jonas'] += 2
people

{'Jonas': 26, 'Petras': 33, 'Ona': 28}

### `Greita užduotis 4: Konkretaus žodyno įrašo keitimas`

**Instrukcijos:**

1. Pakeiskite bet kurio gyvūno amžių iš sukurtos sąrašo `užduoties 1`.
1. Atspausdinkite atnaujintą žodyną.

Giedrius - pakeite amziu bei dadejo "buldogas", taciau reikia rasyti pilna israiska

In [19]:
# jusu kodo vieta
sunys = {"dogas": "Barnis yra 4 metu", "kolis": "Lisa yra 10 metu", "taksas": "Zaibas jau 6 metu"}
sunys["buldogas"] = "Tedis jau senas ir 33 metu"
sunys["buldogas"] = "Zaibas jau 25 met"
sunys["dogas"] = "Barnis yre 12 metu"
print(sunys)

{'dogas': 'Barnis yre 12 metu', 'kolis': 'Lisa yra 10 metu', 'taksas': 'Zaibas jau 6 metu', 'buldogas': 'Zaibas jau 25 met'}

---

## Konkretaus žodyno įrašo trinimas

- Norint ištrinti žodyno įrašą, galite naudoti `del` komandą, po to seka žodyno kintamojo pavadinimas ir raktas laužtiniuose skliaustuose, kurio reikšmę norite pašalinti iš žodyno.

In [29]:
people = {'Jonas': 24, 'Petras': 32, 'Ona': 28}
del people['Ona']
print(people)  # {'Jonas': 24, 'Petras': 32}

{'Jonas': 24, 'Petras': 32}

### `Greita užduotis 5: konkretaus žodyno įrašo ištrynimas`

Dabar praktikuosimės greitai trinti žodyno įrašus:

**Instrukcijos:**

1. Naudokite `del` komandą, kad pašalintumėte vieną iš augintinių ir jo kiekį iš sukurtos žodyno `greitosios užduoties 1`.
1. Atspausdinkite augintinių žodyną dar kartą, kad pamatytumėte rezultatą.

Giedrius - istryne "buldogas" (bet ji pirmiausiai dadejo, pakeite metus) ir "kolis"

In [21]:
# jusu kodo vieta
sunys = {"dogas": "Barnis yra 4 metu", "kolis": "Lisa yra 10 metu", "taksas": "Zaibas jau 6 metu"}
sunys["buldogas"] = "Tedis jau senas ir 33 metu"
sunys["buldogas"] = "Zaibas jau 25 met"
sunys["dogas"] = "Barnis yre 12 metu"
del sunys["taksas"]
del sunys["kolis"]
print(sunys)

{'dogas': 'Barnis yre 12 metu', 'buldogas': 'Zaibas jau 25 met'}

In [14]:
amzius = {"Tomas": 32, "Saule": 44} # zodynas - list
print(amzius)
amzius["Petras"] = 65 # ikels nauja reiksme "Petras": 65
print(amzius)
amzius["Saule"] += 4 # prides prie Saules 4
print(amzius)
amzius["Tomas"] = 101 # pakeis Tomo amziu is 32 i 101
print(amzius)
del amzius["Tomas"] # istrins visa rakta kartu su reiksme
print(amzius)

raktas = amzius.keys() # tik raktai
print(raktas)

{'Tomas': 32, 'Saule': 44}
{'Tomas': 32, 'Saule': 44, 'Petras': 65}
{'Tomas': 32, 'Saule': 48, 'Petras': 65}
{'Tomas': 101, 'Saule': 48, 'Petras': 65}
{'Saule': 48, 'Petras': 65}
dict_keys(['Saule', 'Petras'])

---

## Žodyno metodai

Žodyno metodai leidžia atlikti veiksmus su žodynu ir manipuliuoti jo turiniu. Štai keletas dažniausiai naudojamų metodų:

`.keys()` Grąžina visus raktus žodyne.

In [13]:
people = {'Jonas': 24, 'Petras': 32, 'Ona': 28}
raktiniai_zodziai = people.keys()
print(raktiniai_zodziai)  # dict_keys(['Jonas', 'Petras', 'Ona'])

dict_keys(['Jonas', 'Petras', 'Ona'])

`.values()` Grąžina visas žodyno reikšmes.

In [30]:
people = {'Jonas': 24, 'Petras': 32, 'Ona': 28}
reiksmiu_zodziai = people.values()
print(reiksmiu_zodziai)  # dict_values([24, 32, 28])

dict_values([24, 32, 28])

`.items()` Grąžina `sąrašą`, kuriame yra visi žodyno raktai ir jų atitinkamos reikšmės.

In [17]:
people = {'Jonas': 24, 'Petras': 32, 'Ona': 28}
items = people.items()
print(items)  # dict_items([('Jonas', 24), ('Petras', 32), ('Ona', 28)])

dict_items([('Jonas', 24), ('Petras', 32), ('Ona', 28)])

In [28]:
people = {'Jonas': 24, 'Petras': 32, 'Ona': 28}
items = people.items()
print(items)
print()
items = list(items)
print(items)
print(items[0][1])

dict_items([('Jonas', 24), ('Petras', 32), ('Ona', 28)])

[('Jonas', 24), ('Petras', 32), ('Ona', 28)]
24

`.get()` Grąžina reikšmę, kuri atitinka nurodytą raktą. Jei raktas nerastas, gali grąžinti numatytąją reikšmę (nurodytą kaip atskiras argumentas) arba None.

In [42]:
people = {'Jonas': 24, 'Petras': 32, 'Ona': 28}
print(people['Petras'],"\n") # su tarpu i sekancia eilute \n
value1 = people.get('Jonas')
print(value1)  # 24
print(people['Jonas'],"\n") # beveik vienodai, bet skiriasi, patrumpinta versija nereikia naujo kintamojo!!!
value2 = people.get('ema') # nerado, atspausdins NONE
print(value2)

32

24
24

None

`.get` metodas negrąžina reikšmės, jeigu neranda rakto. Galima nurodyti standartinę reikšmę, kurią grąžintų `.get()` neradus rakto žodyne, kaip antrą argumentą.

In [46]:
people = {'Jonas': 24, 'Petras': 32, 'Ona': 28}
print(people.get('Juozas', 0))  # 0
print(people.get('Juozas'))  # None

0
None

`.pop()` Pašalina ir grąžina reikšmę, susietą su nurodytu raktu. Jei raktas nerastas, gali grąžinti numatytąją reikšmę (nurodytą kaip atskiras argumentas) arba sukelti klaidą.

In [3]:
people = {'Jonas': 24, 'Petras': 32, 'Ona': 28}
value_reiksme = people.pop('Petras')
print(value_reiksme)  # 32

not_found = people.pop('Juozas', 0)
print(not_found)  # 0

print(people)  # {'Jonas': 24, 'Ona': 28}

32
0
{'Jonas': 24, 'Ona': 28}

`.clear()` Išvalo žodyno turinį, jį padarant tuščiu žodynu.

In [12]:
people = {'Jonas': 24, 'Petras': 32, 'Ona': 28}
people.clear()
print(people)  # {}

{}

Pastaba dėl "`del`" ir "`pop()`" skirtumo:

Abu metodai leidžia pašalinti įrašą iš žodyno, tačiau yra šiek tiek skirtumų:

- jei norite tik pašalinti įrašą be galimybės grąžinti reikšmę, turėtumėte naudoti `del`. 
- Jei norite ir pašalinti, ir grąžinti reikšmę, `pop()` yra geresnis pasirinkimas, ypač jei turite numatytąją reikšmę raktui neradus.

# `Greita užduotis 6: žodyno metodai`

Dabar išbandykime naudodami šiuos žodyno metodus:

1. Atspausdinkite gyvūnų žodyno reikšmes.
1. Naudokite `.items()` metodą, kad atspausdintumėte visų raktų ir reikšmių sąrašą gyvūnų žodyne.
1. Naudokite `.get()` metodą, kad gautumėte vieno gyvūno amžių, nurodant numatytąją vertę, jei gyvūno nėra.
1. Naudokite `.pop()` metodą, kad pašalintumėte vieną gyvūną ir jo amžių iš žodyno.
1. Išvalykite gyvūnų žodyno turinį, naudodami `.clear()` metodą, ir atspausdinkite tuščią žodyną.

In [13]:
# jusu kodo vieta
#1
gyvunai = {"liutas": 25, "zirafa": 14, "begemotas": 52}
print(gyvunai)
#2
print(gyvunai.items())
#3
print(gyvunai.get("liutas"))
#4
begemotas = gyvunai.pop("begemotas")
print(gyvunai)
#5
gyvunai.clear()
print(gyvunai)
#5
print(gyvunai.clear()) # ???? kodel spausdina None

{'liutas': 25, 'zirafa': 14, 'begemotas': 52}
dict_items([('liutas', 25), ('zirafa', 14), ('begemotas', 52)])
25
{'liutas': 25, 'zirafa': 14}
{}
None

## `.update()` metodas
atnaujina žodyną - esamas reikšmes pakeičia, naujas prideda. Senų nepašalina.

In [22]:
people = {'Jonas': 24, 'Petras': 32, 'Ona': 28}
people.update({"Kęstutis": 40, "Jonas": 33})
print(people)
print()
atnaujinimas = {"Marco": 2, "Maija": 3, "Ona": 21}
people.update(atnaujinimas)
print(people)
print()
people.update({"Petras": 100})
print(people)

{'Jonas': 33, 'Petras': 32, 'Ona': 28, 'Kęstutis': 40}

{'Jonas': 33, 'Petras': 32, 'Ona': 21, 'Kęstutis': 40, 'Marco': 2, 'Maija': 3}

{'Jonas': 33, 'Petras': 100, 'Ona': 21, 'Kęstutis': 40, 'Marco': 2, 'Maija': 3}

# `Papildoma Užduotis`

Sukurkite tuščią žodyną pavadinimu "cars" ir pridėkite informaciją apie tris skirtingus automobilius. Nebijokite naudoti savo kūrybiškumo ir įtraukti įvairių gamintojų, modelių, metų, spalvų ir variklių tipų.

1. Atvaizduokite informaciją apie vieną automobilį iš žodyno.
1. Pakeiskite informaciją apie vieną automobilį (pavyzdžiui, pakeiskite variklio tipą).
1. Pridėkite naują automobilį į žodyną.
1. Pašalinkite informaciją apie vieną automobilį iš žodyno.
1. Atvaizduokite bendrą automobilių skaičių žodyne.
1. Patikrinkite, ar konkretus automobilis yra žodyne.
1. Išvalykite žodyną.
1. Sukurkite žodyno atnaujinimą, atnaujinkite žodyną

In [47]:
cars1 = {"Gamintojas1": "Japonija", "Modelis1": "Toyota", "Metai1": 2002, "Spalva1": "balta", "variklio tipas1": "dyzelinis"}
cars2 = {"Gamintojas2": "USA", "Modelis2": "Tesla", "Metai2": 2022, "Spalva2": "juoda", "variklio tipas2": "elektrinis"}
cars3 = {"Gamintojas3": "Italija", "Modelis3": "Ferrari", "Metai3": 1995, "Spalva3": "raudona", "variklio tipas3": "benzininis"}
#1
print(cars1)
print()
#2
cars3["variklio tipas3"] = "azotas"
print(cars3)
print()
#3
cars4 = {"Gamintojas4": "Vokietija", "Modelis4": "BMW", "Metai4": 2023, "Spalva4": "pilka", "variklio tipas4": "dujos"}
print(cars4)
print()
#4

{'Gamintojas1': 'Japonija', 'Modelis1': 'Toyota', 'Metai1': 2002, 'Spalva1': 'balta', 'variklio tipas1': 'dyzelinis'}

{'Gamintojas3': 'Italija', 'Modelis3': 'Ferrari', 'Metai3': 1995, 'Spalva3': 'raudona', 'variklio tipas3': 'azotas'}

{'Gamintojas4': 'Vokietija', 'Modelis4': 'BMW', 'Metai4': 2023, 'Spalva4': 'pilka', 'variklio tipas4': 'dujos'}

In [1]:
# kazkurio studento kodo pavyzdys
#1
brand = ["BMW", "Mazda", "Tesla"]
year = [2012, 1996, 2023]
horse_power = [240, 700, 1200]
car_type = ["Coupe", "Coupe", "Truck"]
wheel_size = [19 ,18 ,24]
car1 = [brand[0], year[0], horse_power[0], car_type[0], wheel_size[0]]
car2 = [brand[1], year[1], horse_power[1], car_type[0], wheel_size[1]]
car3 = [brand[2], year[2], horse_power[2], car_type[2], wheel_size[2]]       
#2
cars =  [
    {'brand': brand[0], 'year': year[0], 'horse power': horse_power[0], 'car type': car_type[0], 'wheel size': wheel_size[0]},
    {'brand': brand[1], 'year': year[1], 'horse power': horse_power[1], 'car type': car_type[1], 'wheel size': wheel_size[1]},
    {'brand': brand[2], 'year': year[2], 'horse power': horse_power[2], 'car type': car_type[2], 'wheel size': wheel_size[2]}
        ]
print(cars[1])
#3
wheel_size.pop(1)
wheel_size.insert(1, 20)
print(wheel_size)
#4
brand.append("Smart")
year.append("2014")
horse_power.append("77")
car_type.append("hatchback")
wheel_size.append("13")
cars.append({'brand': brand[3], 'year': year[3], 'horse power': horse_power[3], 'car type': car_type[3], 'wheel size': wheel_size[3]})
print(cars[3])
#5
cars.pop(3)
print(cars)
#6
print(len(cars))
#7
print("BMW" in brand)
#8
cars.clear()
print(cars)

{'brand': 'Mazda', 'year': 1996, 'horse power': 700, 'car type': 'Coupe', 'wheel size': 18}
[19, 20, 24]
{'brand': 'Smart', 'year': '2014', 'horse power': '77', 'car type': 'hatchback', 'wheel size': '13'}
[{'brand': 'BMW', 'year': 2012, 'horse power': 240, 'car type': 'Coupe', 'wheel size': 19}, {'brand': 'Mazda', 'year': 1996, 'horse power': 700, 'car type': 'Coupe', 'wheel size': 18}, {'brand': 'Tesla', 'year': 2023, 'horse power': 1200, 'car type': 'Truck', 'wheel size': 24}]
3
True
[]